In [11]:
import pandas as pd
import numpy as np

In [2]:
sepsis_patients = pd.read_csv("sepsis_patients.csv")
no_sepsis_patients = pd.read_csv("no_sepsis_patients.csv")

In [3]:
sepsis_patients.head()

,subject_id,stay_id,antibiotic_time,culture_time,suspected_infection_time,sofa_time,sofa_score,respiration,coagulation,liver,...,marital_status,race,edregtime,edouttime,hospital_expire_flag,first_careunit,last_careunit,intime,outtime,los
0,18421337,30000484,2136-01-14 21:00:00,2136-01-14 18:10:00,2136-01-14 18:10:00,2136-01-14 19:00:00,3,0,0,0,...,SINGLE,MULTIPLE RACE/ETHNICITY,2136-01-14 12:18:00,2136-01-14 18:31:00,0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2136-01-14 17:23:32,2136-01-17 04:53:08,2.478889
1,12207593,30000646,2194-04-29 07:00:00,2194-04-29 01:00:00,2194-04-29 01:00:00,2194-04-29 11:00:00,3,2,0,0,...,MARRIED,ASIAN - CHINESE,2194-04-27 13:49:00,2194-04-27 22:03:00,1,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2194-04-29 01:39:22,2194-05-03 18:23:48,4.697523
2,16513856,30001446,2186-04-12 04:00:00,2186-04-11 08:20:00,2186-04-11 08:20:00,2186-04-12 04:00:00,8,0,3,3,...,MARRIED,WHITE,2186-04-11 12:43:00,2186-04-11 15:55:00,0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2186-04-12 03:49:00,2186-04-13 19:45:47,1.664433
3,10656173,30001555,2177-09-27 16:00:00,2177-09-27 07:21:00,2177-09-27 07:21:00,2177-09-27 12:00:00,8,0,3,4,...,SINGLE,WHITE,2177-09-10 00:05:00,2177-09-10 02:48:00,0,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2177-09-27 11:23:13,2177-09-28 18:26:00,1.293600
4,17921898,30002415,2126-12-17 12:00:00,2126-12-16 15:05:00,2126-12-16 15:05:00,2126-12-17 12:00:00,4,2,2,0,...,MARRIED,WHITE,NaN,NaN,0,Cardiac Vascular Intensive Care Unit (CVICU),Cardiac Vascular Intensive Care Unit (CVICU),2126-12-17 09:54:03,2126-12-18 10:15:01,1.014560

In [4]:
no_sepsis_patients.head()

,subject_id,gender,anchor_age,anchor_year,anchor_year_group,dod,hadm_id,admittime,dischtime,deathtime,...,race,edregtime,edouttime,hospital_expire_flag,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,F,52,2180,2014 - 2016,2180-09-09,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,...,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
1,10000980,F,73,2186,2008 - 2010,2193-08-26,26913865,2189-06-27 07:38:00,2189-07-03 03:00:00,NaN,...,BLACK/AFRICAN AMERICAN,2189-06-27 06:25:00,2189-06-27 08:42:00,0,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535
2,10001217,F,55,2157,2011 - 2013,NaN,24597018,2157-11-18 22:56:00,2157-11-25 18:00:00,NaN,...,WHITE,2157-11-18 17:38:00,2157-11-19 01:24:00,0,37067082,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-20 19:18:02,2157-11-21 22:08:00,1.118032
3,10001217,F,55,2157,2011 - 2013,NaN,27703517,2157-12-18 16:58:00,2157-12-24 14:55:00,NaN,...,WHITE,NaN,NaN,0,34592300,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-19 15:42:24,2157-12-20 14:27:41,0.948113
4,10001725,F,46,2110,2011 - 2013,NaN,25563031,2110-04-11 15:08:00,2110-04-14 15:00:00,NaN,...,WHITE,NaN,NaN,0,31205490,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2110-04-11 15:52:22,2110-04-12 23:59:56,1.338588

In [5]:
file_path = "mimic-iv-2.2/icu/d_items.csv.gz"
d_items = pd.read_csv(file_path)

d_items.head()

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,220001,Problem List,Problem List,chartevents,General,NaN,Text,NaN,NaN
1,220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,NaN,Date and time,NaN,NaN
2,220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
3,220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,NaN,NaN
4,220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,NaN,NaN

In [9]:
variable_codes = {
    "systolic_pressure": [220050, 225309],
    "diastolic_pressure": [220051, 225310],
    "mean_pressure": [220052, 225311],
    "ni_systolic_pressure": [220179],
    "ni_diastolic_pressure": [220180],
    "ni_mean_pressure": [220181],
    "heart_rate": [220045],
"temperature": [223762, 223761],  # 223761 = f
    "etco2": [228640],
    "respiration_rate": [220210, 224690],
    "wbc": [220546],
    "ph": [223830],
    "oxygen_saturation": [220277, 226861],
    "fio2": [223835, 229280, 229841],
    "paco2": [220235],
    # ------------------------------
    "weight": [224639, 226512],
    "height": [226730],
    "braden": [224054],
    "ck_cpk": [225634],
    "diff_bands": [225638],
    "hct": [229306],
    "imm_granulocytes": [229356],
    "lactic_acid": [225668],
    "pain_score": [227881],
    "peak_insp_pressure": [224695],
    "peep": [224700],
    "phosphorus": [220448],
    "po2": [227516],
    "pt": [227465],
    "pulse": [223939, 223936],
    "qt_time": [224359],
    "tidal_volume": [50826],
}

lab_variable_codes = {
    "wbc": [51300, 51301],
    "ph": [50820],
    "oxygen_saturation": [50817],
    "base_excess": [50802],
    "hco3": [50803],
    "paco2": [50818],
    "ast": [50878],
    "bun": [51842],
    "alkalinephos": [50863, 53086],
    "calcium": [50893, 52034, 52035],
    "chloride": [50806, 50902, 52535, 52434],
    "creatinine": [50912, 52546, 52024],
    "bilirubin_direct": [50883],
    "glucose": [50809, 50931, 52569],
    "lactate": [50813, 52442, 53154],
    "magnesium": [50960],
    "phosphate": [50970],
    "potassium": [50822, 52610, 52452, 50971],
    "bilirubin_total": [50885, 53089],
    "troponin_i": [51002, 52642],
    "hematocrit": [50810, 51221, 51638, 51639, 52028],
    "hemoglobin": [50811, 51222, 51645, 51640],
    "ptt": [51275, 52923],
    "fibrinogen": [51214, 51623, 52116],
    "platelets": [51240],
    # ------------------------------
    "albumin": [50862],
    "amylase": [50867],
    "abs_basophils_blood": [52069],
    "basophils": [51112],
    "blood_urea_nitrogen": [51006],
    "calcium_ionized": [52029],
    "chol_hdl": [50904],
    "chol_total": [50907],
    "chloride": [50902, 50806, 52434],
    "pco2": [50804],
    "blasts": [51148],
    "eosinophils": [52073, 51199],
    "granulocyte": [51218],
    "rbc": [51122],
    "gfr_mdrd": [50920, 52026],
    "globulin": [50930],
    "hgb": [52411],
    "inr_pt": [51237, 51675],
    "iron": [50952, 52357],
    "lactic_dehydrogenase": [50954],
    "lipase": [50956],
    "abs_lymph_count": [51133, 52769, 53132],
    "lymph_percent": [51245],
    "mch": [51248],
    "mean_platelet_volume": [52142],
    "abs_mono": [51253, 52074],
    "abs_neutrophil": [52075],
    "protein_total": [50976, 53096],
    "rbc": [52170],
    "sodium": [50983, 52623],
    "specific_gravity_urine": [51498, 51994],
    "tco2": [52037],
    "thyroid_stimulating_hormone": [50993],
    "triglycerides": [51000],
    "urobilinogen": [51514, 52002],
    "vitamin_b12": [51010],
}

all_codes = {code: measurement for measurement, codes in variable_codes.items() for code in codes}

lab_codes = {code: measurement for measurement, codes in lab_variable_codes.items() for code in codes}

In [10]:
chartevents_chunks = pd.read_csv(
    "mimic-iv-2.2/icu/chartevents.csv.gz",
    chunksize=800000,
    engine="python",
    on_bad_lines="skip"
)

filtered_chartevents = pd.DataFrame()

for i, chunk in enumerate(chartevents_chunks):
    chunk = chunk[['hadm_id', 'itemid', 'charttime', 'valuenum']]
    chunk = chunk[
        (chunk["hadm_id"].isin(sepsis_patients["hadm_id"])) |
        (chunk["hadm_id"].isin(no_sepsis_patients["hadm_id"]))
    ]
    chunk = chunk[chunk["itemid"].isin(all_codes.keys())]

    chunk["measurement"] = chunk["itemid"].map(all_codes)

    chunk.loc[chunk["measurement"] == "temperature", "valuenum"] = chunk.apply(
        lambda row: (row["valuenum"] - 32) * 5 / 9 if row["itemid"] in [223761] else row["valuenum"],
        axis=1
    )

    filtered_chartevents = pd.concat([filtered_chartevents, chunk], ignore_index=True)
    print(f"Chunk {i + 1} processado e filtrado.")
    
# Lab values
labevents_chunks = pd.read_csv(
    "mimic-iv-2.2/hosp/labevents.csv.gz",
    chunksize=800000,
    engine="python",
    on_bad_lines="skip"
)

for i, chunk in enumerate(labevents_chunks):
    chunk = chunk[['hadm_id', 'itemid', 'charttime', 'valuenum']]
    chunk = chunk[
        (chunk["hadm_id"].isin(sepsis_patients["hadm_id"])) |
        (chunk["hadm_id"].isin(no_sepsis_patients["hadm_id"]))
    ]
    chunk = chunk[chunk["itemid"].isin(lab_codes.keys())]

    chunk["measurement"] = chunk["itemid"].map(lab_codes)
    
    filtered_chartevents = pd.concat([filtered_chartevents, chunk], ignore_index=True)
    print(f"Chunk {i + 1} processado e filtrado.")
    
filtered_chartevents.to_csv(f"filtered_chartevents.csv", index=False)

Chunk 1 processado e filtrado.
Chunk 2 processado e filtrado.
Chunk 3 processado e filtrado.
Chunk 4 processado e filtrado.
Chunk 5 processado e filtrado.
Chunk 6 processado e filtrado.
Chunk 7 processado e filtrado.
Chunk 8 processado e filtrado.
Chunk 9 processado e filtrado.
Chunk 10 processado e filtrado.
Chunk 11 processado e filtrado.
Chunk 12 processado e filtrado.
Chunk 13 processado e filtrado.
Chunk 14 processado e filtrado.
Chunk 15 processado e filtrado.
Chunk 16 processado e filtrado.
Chunk 17 processado e filtrado.
Chunk 18 processado e filtrado.
Chunk 19 processado e filtrado.
Chunk 20 processado e filtrado.
Chunk 21 processado e filtrado.
Chunk 22 processado e filtrado.
Chunk 23 processado e filtrado.
Chunk 24 processado e filtrado.
Chunk 25 processado e filtrado.
Chunk 26 processado e filtrado.
Chunk 27 processado e filtrado.
Chunk 28 processado e filtrado.
Chunk 29 processado e filtrado.
Chunk 30 processado e filtrado.
Chunk 31 processado e filtrado.
Chunk 32 processado e filtrado.
Chunk 33 processado e filtrado.
Chunk 34 processado e filtrado.
Chunk 35 processado e filtrado.
Chunk 36 processado e filtrado.
Chunk 37 processado e filtrado.
Chunk 38 processado e filtrado.
Chunk 39 processado e filtrado.
Chunk 40 processado e filtrado.
Chunk 41 processado e filtrado.
Chunk 42 processado e filtrado.
Chunk 43 processado e filtrado.
Chunk 44 processado e filtrado.
Chunk 45 processado e filtrado.
Chunk 46 processado e filtrado.
Chunk 47 processado e filtrado.
Chunk 48 processado e filtrado.
Chunk 49 processado e filtrado.
Chunk 50 processado e filtrado.
Chunk 51 processado e filtrado.
Chunk 52 processado e filtrado.
Chunk 53 processado e filtrado.
Chunk 54 processado e filtrado.
Chunk 55 processado e filtrado.
Chunk 56 processado e filtrado.
Chunk 57 processado e filtrado.
Chunk 58 processado e filtrado.
Chunk 59 processado e filtrado.
Chunk 60 processado e filtrado.
Chunk 61 processado e filtrado.
Chunk 62 processado e filtrado.
Chunk 63 processado e filtrado.
Chunk 64 processado e filtrado.
Chunk 65 processado e filtrado.
Chunk 66 processado e filtrado.
Chunk 67 processado e filtrado.
Chunk 68 processado e filtrado.
Chunk 69 processado e filtrado.
Chunk 70 processado e filtrado.
Chunk 71 processado e filtrado.
Chunk 72 processado e filtrado.
Chunk 73 processado e filtrado.
Chunk 74 processado e filtrado.
Chunk 75 processado e filtrado.
Chunk 76 processado e filtrado.
Chunk 77 processado e filtrado.
Chunk 78 processado e filtrado.
Chunk 79 processado e filtrado.
Chunk 80 processado e filtrado.
Chunk 81 processado e filtrado.
Chunk 82 processado e filtrado.
Chunk 83 processado e filtrado.
Chunk 84 processado e filtrado.
Chunk 85 processado e filtrado.
Chunk 86 processado e filtrado.
Chunk 87 processado e filtrado.
Chunk 88 processado e filtrado.
Chunk 89 processado e filtrado.
Chunk 90 processado e filtrado.
Chunk 91 processado e filtrado.
Chunk 92 processado e filtrado.
Chunk 93 processado e filtrado.
Chunk 94 processado e filtrado.
Chunk 95 processado e filtrado.
Chunk 96 processado e filtrado.
Chunk 97 processado e filtrado.
Chunk 98 processado e filtrado.
Chunk 99 processado e filtrado.
Chunk 100 processado e filtrado.
Chunk 101 processado e filtrado.
Chunk 102 processado e filtrado.
Chunk 103 processado e filtrado.
Chunk 104 processado e filtrado.
Chunk 105 processado e filtrado.
Chunk 106 processado e filtrado.
Chunk 107 processado e filtrado.
Chunk 108 processado e filtrado.
Chunk 109 processado e filtrado.
Chunk 110 processado e filtrado.
Chunk 111 processado e filtrado.
Chunk 112 processado e filtrado.
Chunk 113 processado e filtrado.
Chunk 114 processado e filtrado.
Chunk 115 processado e filtrado.
Chunk 116 processado e filtrado.
Chunk 117 processado e filtrado.
Chunk 118 processado e filtrado.
Chunk 119 processado e filtrado.
Chunk 120 processado e filtrado.
Chunk 121 processado e filtrado.
Chunk 122 processado e filtrado.
Chunk 123 processado e filtrado.
Chunk 124 processado e filtrado.
Chunk 125 processado e filtrado.
Chunk 126 processado e filtrado.
Chunk 127 processado e filtrado.
Chunk 128 processado e filtrado.
Chunk 129 processado e filtrado.
Chunk 130 processado e filtrado.
Chunk 131 processado e filtrado.
Chunk 132 processado e filtrado.
Chunk 133 processado e filtrado.
Chunk 134 processado e filtrado.
Chunk 135 processado e filtrado.
Chunk 136 processado e filtrado.
Chunk 137 processado e filtrado.
Chunk 138 processado e filtrado.
Chunk 139 processado e filtrado.
Chunk 140 processado e filtrado.
Chunk 141 processado e filtrado.
Chunk 142 processado e filtrado.
Chunk 143 processado e filtrado.
Chunk 144 processado e filtrado.
Chunk 145 processado e filtrado.
Chunk 146 processado e filtrado.
Chunk 147 processado e filtrado.
Chunk 148 processado e filtrado.
Chunk 149 processado e filtrado.
Chunk 150 processado e filtrado.
Chunk 151 processado e filtrado.
Chunk 152 processado e filtrado.
Chunk 153 processado e filtrado.
Chunk 154 processado e filtrado.
Chunk 155 processado e filtrado.
Chunk 156 processado e filtrado.
Chunk 157 processado e filtrado.
Chunk 158 processado e filtrado.
Chunk 159 processado e filtrado.
Chunk 160 processado e filtrado.
Chunk 161 processado e filtrado.
Chunk 162 processado e filtrado.
Chunk 163 processado e filtrado.
Chunk 164 processado e filtrado.
Chunk 165 processado e filtrado.
Chunk 166 processado e filtrado.
Chunk 167 processado e filtrado.
Chunk 168 processado e filtrado.
Chunk 169 processado e filtrado.
Chunk 170 processado e filtrado.
Chunk 171 processado e filtrado.
Chunk 172 processado e filtrado.
Chunk 173 processado e filtrado.
Chunk 174 processado e filtrado.
Chunk 175 processado e filtrado.
Chunk 176 processado e filtrado.
Chunk 177 processado e filtrado.
Chunk 178 processado e filtrado.
Chunk 179 processado e filtrado.
Chunk 180 processado e filtrado.
Chunk 181 processado e filtrado.
Chunk 182 processado e filtrado.
Chunk 183 processado e filtrado.
Chunk 184 processado e filtrado.
Chunk 185 processado e filtrado.
Chunk 186 processado e filtrado.
Chunk 187 processado e filtrado.
Chunk 188 processado e filtrado.
Chunk 189 processado e filtrado.
Chunk 190 processado e filtrado.
Chunk 191 processado e filtrado.
Chunk 192 processado e filtrado.
Chunk 193 processado e filtrado.
Chunk 194 processado e filtrado.
Chunk 195 processado e filtrado.
Chunk 196 processado e filtrado.
Chunk 197 processado e filtrado.
Chunk 198 processado e filtrado.
Chunk 199 processado e filtrado.
Chunk 200 processado e filtrado.
Chunk 201 processado e filtrado.
Chunk 202 processado e filtrado.
Chunk 203 processado e filtrado.
Chunk 204 processado e filtrado.
Chunk 205 processado e filtrado.
Chunk 206 processado e filtrado.
Chunk 207 processado e filtrado.
Chunk 208 processado e filtrado.
Chunk 209 processado e filtrado.
Chunk 210 processado e filtrado.
Chunk 211 processado e filtrado.
Chunk 212 processado e filtrado.
Chunk 213 processado e filtrado.
Chunk 214 processado e filtrado.
Chunk 215 processado e filtrado.
Chunk 216 processado e filtrado.
Chunk 217 processado e filtrado.
Chunk 218 processado e filtrado.
Chunk 219 processado e filtrado.
Chunk 220 processado e filtrado.
Chunk 221 processado e filtrado.
Chunk 222 processado e filtrado.
Chunk 223 processado e filtrado.
Chunk 224 processado e filtrado.
Chunk 225 processado e filtrado.
Chunk 226 processado e filtrado.
Chunk 227 processado e filtrado.
Chunk 228 processado e filtrado.
Chunk 229 processado e filtrado.
Chunk 230 processado e filtrado.
Chunk 231 processado e filtrado.
Chunk 232 processado e filtrado.
Chunk 233 processado e filtrado.
Chunk 234 processado e filtrado.
Chunk 235 processado e filtrado.
Chunk 236 processado e filtrado.
Chunk 237 processado e filtrado.
Chunk 238 processado e filtrado.
Chunk 239 processado e filtrado.
Chunk 240 processado e filtrado.
Chunk 241 processado e filtrado.
Chunk 242 processado e filtrado.
Chunk 243 processado e filtrado.
Chunk 244 processado e filtrado.
Chunk 245 processado e filtrado.
Chunk 246 processado e filtrado.
Chunk 247 processado e filtrado.
Chunk 248 processado e filtrado.
Chunk 249 processado e filtrado.
Chunk 250 processado e filtrado.
Chunk 251 processado e filtrado.
Chunk 252 processado e filtrado.
Chunk 253 processado e filtrado.
Chunk 254 processado e filtrado.
Chunk 255 processado e filtrado.
Chunk 256 processado e filtrado.
Chunk 257 processado e filtrado.
Chunk 258 processado e filtrado.
Chunk 259 processado e filtrado.
Chunk 260 processado e filtrado.
Chunk 261 processado e filtrado.
Chunk 262 processado e filtrado.
Chunk 263 processado e filtrado.
Chunk 264 processado e filtrado.
Chunk 265 processado e filtrado.
Chunk 266 processado e filtrado.
Chunk 267 processado e filtrado.
Chunk 268 processado e filtrado.
Chunk 269 processado e filtrado.
Chunk 270 processado e filtrado.
Chunk 271 processado e filtrado.
Chunk 272 processado e filtrado.
Chunk 273 processado e filtrado.
Chunk 274 processado e filtrado.
Chunk 275 processado e filtrado.
Chunk 276 processado e filtrado.
Chunk 277 processado e filtrado.
Chunk 278 processado e filtrado.
Chunk 279 processado e filtrado.
Chunk 280 processado e filtrado.
Chunk 281 processado e filtrado.
Chunk 282 processado e filtrado.
Chunk 283 processado e filtrado.
Chunk 284 processado e filtrado.
Chunk 285 processado e filtrado.
Chunk 286 processado e filtrado.
Chunk 287 processado e filtrado.
Chunk 288 processado e filtrado.
Chunk 289 processado e filtrado.
Chunk 290 processado e filtrado.
Chunk 291 processado e filtrado.
Chunk 292 processado e filtrado.
Chunk 293 processado e filtrado.
Chunk 294 processado e filtrado.
Chunk 295 processado e filtrado.
Chunk 296 processado e filtrado.
Chunk 297 processado e filtrado.
Chunk 298 processado e filtrado.
Chunk 299 processado e filtrado.
Chunk 300 processado e filtrado.
Chunk 301 processado e filtrado.
Chunk 302 processado e filtrado.
Chunk 303 processado e filtrado.
Chunk 304 processado e filtrado.
Chunk 305 processado e filtrado.
Chunk 306 processado e filtrado.
Chunk 307 processado e filtrado.
Chunk 308 processado e filtrado.
Chunk 309 processado e filtrado.
Chunk 310 processado e filtrado.
Chunk 311 processado e filtrado.
Chunk 312 processado e filtrado.
Chunk 313 processado e filtrado.
Chunk 314 processado e filtrado.
Chunk 315 processado e filtrado.
Chunk 316 processado e filtrado.
Chunk 317 processado e filtrado.
Chunk 318 processado e filtrado.
Chunk 319 processado e filtrado.
Chunk 320 processado e filtrado.
Chunk 321 processado e filtrado.
Chunk 322 processado e filtrado.
Chunk 323 processado e filtrado.
Chunk 324 processado e filtrado.
Chunk 325 processado e filtrado.
Chunk 326 processado e filtrado.
Chunk 327 processado e filtrado.
Chunk 328 processado e filtrado.
Chunk 329 processado e filtrado.
Chunk 330 processado e filtrado.
Chunk 331 processado e filtrado.
Chunk 332 processado e filtrado.
Chunk 333 processado e filtrado.
Chunk 334 processado e filtrado.
Chunk 335 processado e filtrado.
Chunk 336 processado e filtrado.
Chunk 337 processado e filtrado.
Chunk 338 processado e filtrado.
Chunk 339 processado e filtrado.
Chunk 340 processado e filtrado.
Chunk 341 processado e filtrado.
Chunk 342 processado e filtrado.
Chunk 343 processado e filtrado.
Chunk 344 processado e filtrado.
Chunk 345 processado e filtrado.
Chunk 346 processado e filtrado.
Chunk 347 processado e filtrado.
Chunk 348 processado e filtrado.
Chunk 349 processado e filtrado.
Chunk 350 processado e filtrado.
Chunk 351 processado e filtrado.
Chunk 352 processado e filtrado.
Chunk 353 processado e filtrado.
Chunk 354 processado e filtrado.
Chunk 355 processado e filtrado.
Chunk 356 processado e filtrado.
Chunk 357 processado e filtrado.
Chunk 358 processado e filtrado.
Chunk 359 processado e filtrado.
Chunk 360 processado e filtrado.
Chunk 361 processado e filtrado.
Chunk 362 processado e filtrado.
Chunk 363 processado e filtrado.
Chunk 364 processado e filtrado.
Chunk 365 processado e filtrado.
Chunk 366 processado e filtrado.
Chunk 367 processado e filtrado.
Chunk 368 processado e filtrado.
Chunk 369 processado e filtrado.
Chunk 370 processado e filtrado.
Chunk 371 processado e filtrado.
Chunk 372 processado e filtrado.
Chunk 373 processado e filtrado.
Chunk 374 processado e filtrado.
Chunk 375 processado e filtrado.
Chunk 376 processado e filtrado.
Chunk 377 processado e filtrado.
Chunk 378 processado e filtrado.
Chunk 379 processado e filtrado.
Chunk 380 processado e filtrado.
Chunk 381 processado e filtrado.
Chunk 382 processado e filtrado.
Chunk 383 processado e filtrado.
Chunk 384 processado e filtrado.
Chunk 385 processado e filtrado.
Chunk 386 processado e filtrado.
Chunk 387 processado e filtrado.
Chunk 388 processado e filtrado.
Chunk 389 processado e filtrado.
Chunk 390 processado e filtrado.
Chunk 391 processado e filtrado.
Chunk 392 processado e filtrado.
Chunk 393 processado e filtrado.
Chunk 1 processado e filtrado.
Chunk 2 processado e filtrado.
Chunk 3 processado e filtrado.
Chunk 4 processado e filtrado.
Chunk 5 processado e filtrado.
Chunk 6 processado e filtrado.
Chunk 7 processado e filtrado.
Chunk 8 processado e filtrado.
Chunk 9 processado e filtrado.
Chunk 10 processado e filtrado.
Chunk 11 processado e filtrado.
Chunk 12 processado e filtrado.
Chunk 13 processado e filtrado.
Chunk 14 processado e filtrado.
Chunk 15 processado e filtrado.
Chunk 16 processado e filtrado.
Chunk 17 processado e filtrado.
Chunk 18 processado e filtrado.
Chunk 19 processado e filtrado.
Chunk 20 processado e filtrado.
Chunk 21 processado e filtrado.
Chunk 22 processado e filtrado.
Chunk 23 processado e filtrado.
Chunk 24 processado e filtrado.
Chunk 25 processado e filtrado.
Chunk 26 processado e filtrado.
Chunk 27 processado e filtrado.
Chunk 28 processado e filtrado.
Chunk 29 processado e filtrado.
Chunk 30 processado e filtrado.
Chunk 31 processado e filtrado.
Chunk 32 processado e filtrado.
Chunk 33 processado e filtrado.
Chunk 34 processado e filtrado.
Chunk 35 processado e filtrado.
Chunk 36 processado e filtrado.
Chunk 37 processado e filtrado.
Chunk 38 processado e filtrado.
Chunk 39 processado e filtrado.
Chunk 40 processado e filtrado.
Chunk 41 processado e filtrado.
Chunk 42 processado e filtrado.
Chunk 43 processado e filtrado.
Chunk 44 processado e filtrado.
Chunk 45 processado e filtrado.
Chunk 46 processado e filtrado.
Chunk 47 processado e filtrado.
Chunk 48 processado e filtrado.
Chunk 49 processado e filtrado.
Chunk 50 processado e filtrado.
Chunk 51 processado e filtrado.
Chunk 52 processado e filtrado.
Chunk 53 processado e filtrado.
Chunk 54 processado e filtrado.
Chunk 55 processado e filtrado.
Chunk 56 processado e filtrado.
Chunk 57 processado e filtrado.
Chunk 58 processado e filtrado.
Chunk 59 processado e filtrado.
Chunk 60 processado e filtrado.
Chunk 61 processado e filtrado.
Chunk 62 processado e filtrado.
Chunk 63 processado e filtrado.
Chunk 64 processado e filtrado.
Chunk 65 processado e filtrado.
Chunk 66 processado e filtrado.
Chunk 67 processado e filtrado.
Chunk 68 processado e filtrado.
Chunk 69 processado e filtrado.
Chunk 70 processado e filtrado.
Chunk 71 processado e filtrado.
Chunk 72 processado e filtrado.
Chunk 73 processado e filtrado.
Chunk 74 processado e filtrado.
Chunk 75 processado e filtrado.
Chunk 76 processado e filtrado.
Chunk 77 processado e filtrado.
Chunk 78 processado e filtrado.
Chunk 79 processado e filtrado.
Chunk 80 processado e filtrado.
Chunk 81 processado e filtrado.
Chunk 82 processado e filtrado.
Chunk 83 processado e filtrado.
Chunk 84 processado e filtrado.
Chunk 85 processado e filtrado.
Chunk 86 processado e filtrado.
Chunk 87 processado e filtrado.
Chunk 88 processado e filtrado.
Chunk 89 processado e filtrado.
Chunk 90 processado e filtrado.
Chunk 91 processado e filtrado.
Chunk 92 processado e filtrado.
Chunk 93 processado e filtrado.
Chunk 94 processado e filtrado.
Chunk 95 processado e filtrado.
Chunk 96 processado e filtrado.
Chunk 97 processado e filtrado.
Chunk 98 processado e filtrado.
Chunk 99 processado e filtrado.
Chunk 100 processado e filtrado.
Chunk 101 processado e filtrado.
Chunk 102 processado e filtrado.
Chunk 103 processado e filtrado.
Chunk 104 processado e filtrado.
Chunk 105 processado e filtrado.
Chunk 106 processado e filtrado.
Chunk 107 processado e filtrado.
Chunk 108 processado e filtrado.
Chunk 109 processado e filtrado.
Chunk 110 processado e filtrado.
Chunk 111 processado e filtrado.
Chunk 112 processado e filtrado.
Chunk 113 processado e filtrado.
Chunk 114 processado e filtrado.
Chunk 115 processado e filtrado.
Chunk 116 processado e filtrado.
Chunk 117 processado e filtrado.
Chunk 118 processado e filtrado.
Chunk 119 processado e filtrado.
Chunk 120 processado e filtrado.
Chunk 121 processado e filtrado.
Chunk 122 processado e filtrado.
Chunk 123 processado e filtrado.
Chunk 124 processado e filtrado.
Chunk 125 processado e filtrado.
Chunk 126 processado e filtrado.
Chunk 127 processado e filtrado.
Chunk 128 processado e filtrado.
Chunk 129 processado e filtrado.
Chunk 130 processado e filtrado.
Chunk 131 processado e filtrado.
Chunk 132 processado e filtrado.
Chunk 133 processado e filtrado.
Chunk 134 processado e filtrado.
Chunk 135 processado e filtrado.
Chunk 136 processado e filtrado.
Chunk 137 processado e filtrado.
Chunk 138 processado e filtrado.
Chunk 139 processado e filtrado.
Chunk 140 processado e filtrado.
Chunk 141 processado e filtrado.
Chunk 142 processado e filtrado.
Chunk 143 processado e filtrado.
Chunk 144 processado e filtrado.
Chunk 145 processado e filtrado.
Chunk 146 processado e filtrado.
Chunk 147 processado e filtrado.
Chunk 148 processado e filtrado.

In [11]:
filtered_chartevents

,hadm_id,itemid,charttime,valuenum,measurement
0,29079034.0,220179,2180-07-23 21:01:00,82.0,ni_systolic_pressure
1,29079034.0,220180,2180-07-23 21:01:00,59.0,ni_diastolic_pressure
2,29079034.0,220181,2180-07-23 21:01:00,63.0,ni_mean_pressure
3,29079034.0,220045,2180-07-23 22:00:00,94.0,heart_rate
4,29079034.0,220179,2180-07-23 22:00:00,85.0,ni_systolic_pressure
...,...,...,...,...,...
60187959,23865745.0,51006,2145-11-09 05:30:00,8.0,blood_urea_nitrogen
60187960,23865745.0,51221,2145-11-09 05:30:00,36.6,hematocrit
60187961,23865745.0,51222,2145-11-09 05:30:00,12.3,hemoglobin
60187962,23865745.0,51248,2145-11-09 05:30:00,35.0,mch
60187963,23865745.0,51301,2145-11-09 05:30:00,5.7,wbc